header {
    height: 60px;
    display: flex;
    align-items: center;
}

.bg-dark {
    background-color: #2f2e2e !important;
}

header nav .links {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

header nav .links a {
    color: azure;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    transition-duration: 800ms;
}

header nav .links a:hover {
    background: azure;
    color: #2f2e2e;
    transform: scale(1.05);
}

header nav .burger {
    display: none;
}


/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    header nav .links {
        width: 60%;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    header nav {
        max-width: 100% !important;
    }
    header nav .links {
        width: 100%;
        display: none;
        flex-direction: column;
        background: #2f2e2e;
        position: absolute;
        left: 0;
        top: 60px;
        text-align: center;
    }
    header nav .links a {
        padding: 14px 0;
        border-radius: 0;
        border-top: 1px solid azure;
    }
    header nav .links a:hover {
        transform: scale(1.2);
    }
    header nav .burger {
        display: block;
        color: azure;
        font-size: 30px;
        cursor: pointer;
    }
}